## Auth0 application setup:
## - Allowed Callback URLs must include:
##   - http://localhost:8787/auth/callback/auth0
##   - https://<your-deployed-domain>/auth/callback/auth0
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_URL=
S3_PUBLIC_URL=
S3_BUCKET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
COOKIE_ENCRYPTION_KEY=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
AUTH0_SCOPE=